@{
    Layout = null;
}
<html>
<head>
    <title>ActionName</title>
</head>
<body>
    <div>The controller is : @ViewBag.Controller</div>
    <div>The action is : @ViewBag.Action</div>
</body>
</html>

